.container {
  padding: 0 0 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.container button {
  display: block;
  box-sizing: border-box;
  width: 80%;
  max-width: 250px;
  margin: auto;
  padding: 0.7em;
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  border: 1px solid #FBEA31;
  background: #FBEA31;
  font-size: 14px;
  font-weight: normal;
  border-radius: 4px;
  margin: 0;
  cursor: pointer;
}

.container button[disabled] {
  background: #fff;
  color: graytext;
  cursor: default;
}

.container button:not([disabled]):hover {
  border-color: #333;
}
