.container {
  background: #FBEA31;
  padding: 20px;
  position: relative;
}

.heading {
  font-size: 20px;
  margin: 0;
  text-transform: lowercase;
}

.main {
  margin-top: 25px;
}

.desc {
  margin: 20px 0;
}

.controls {
  display: flex;
  justify-content: center;
}

.link {
  margin: 15px 0 0;
  text-align: center;
}

.link a {
  color: inherit;
}
