.button {
  font-size: 18px;
  line-height: 1.2;
  padding: 0.5em;
  background-color: #333;
  color: #fff;
  border: none;
  transition: background-color 100ms ease-in;
}

.button:hover {
  background-color: #000;
}
